<!DOCTYPE html>
<html>
  <head>
    <title>Businesstracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'landing_page', media: 'all'%>
    <%= javascript_include_tag 'landing_page' %>
  </head>
  <body>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
